/* Portfolio Container */

.card {
    background-color: transparent;
}

.card-title {
    color: white;
    text-align: center;
    letter-spacing: 2px;    
}

a:not([href]) {
    color: white;
    text-decoration: none;  
  }
