#disp4 {
    margin-top: 105px;
    font-family: Gloss and Bloom;
    letter-spacing: 2px;
    color: white;
    text-align: center;
}

#linksPortfolio {
    padding-top: 20px;
}

.flexbox-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}
