/* Navbar */

.navbar {
    height: 70px;    
}

.navbar-nav li {
    padding-right:50px;
}

.nav-link {
    font-size: 1.3em !important;
}

.nav-link:hover {
    color:gray !important;
}

.bg-light {
    background-color: #000!important;
} 

.navbar-light .navbar-toggler {
    border-color: #e9ecef;
    background-color: #e9ecef;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: white;
}

.navbar-light .navbar-nav .nav-link {
    color:white;
    font-family: Gloss and Bloom;
    letter-spacing: 3px;
}

#RUPAG {
    font-family: Gloss and Bloom;
    color: white;
    font-size: xx-large; 
    padding-left: 50px;
    padding-top: 1rem;    
}
