/* Carousel */

#carouselcontainer {
    padding-top: 50px;
}

.carousel-caption {
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
}

.carousel-caption h1 {
    font-size: 500%;
    text-transform: uppercase;
    text-shadow: 1px 1px 10px #000;
}

.display-2 {
    font-family: Gloss and Bloom;
}

#button2 {
    background-color: rgba(108, 109, 112, 0.842);
}

#button3 {
    background-color: rgba(108, 109, 112, 0.842);
}

/* Add this CSS to style the custom dash controls */
.carousel-control-dash {
    position: absolute;
    bottom: 20px; /* Adjust the vertical position as needed */
    width: 100%;
    text-align: center;
    z-index: 10;
  }
  
  .carousel-control-dash button {
    background: transparent;
    border: none;
    font-size: 24px; /* Adjust the font size as needed */
    margin: 0 5px; /* Adjust the spacing between dashes as needed */
    cursor: pointer;
  }
  
  .carousel-control-dash button.active {
    color: #007bff; /* Active dash color */
  }
  
  /* Add this CSS to your Carousel.css file */
  

